$light-brown: #f4f1ea;
$dark-brown: #65411f;

.error-list {
  text-align: center;
  padding-top: 3px;
  color: red;
  font-size: 13px;
}

.error-item {
  padding: 5px;
}

.form {
  margin: auto;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  color: $dark-brown;
}

