.main {
  margin: auto;
  width: calc(100% - 400px);
}

.main p {
  margin: 10px;
}

.program-item-list {
  padding-top: 1px;
  padding-bottom: 1px;
}

.program-item-list li {
  margin: 10px;
}

.program-item-list label {
  font-style: italic;
}

.program-item-list h2 {
  font-weight: 700;
  font-size: 18px;
}

.link {
  color: #0B6376;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.program-show {
  width: calc(100% - 200px);
  margin: auto;
  display: block;
}

