// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$light-brown: #f4f1ea;
$dark-brown: #65411f;

// Logo styling

.logo {
  font-family: Raleway;
  text-align: center;
  color: $dark-brown;
  padding: 10px;
};

.big {
  font-size: 50px;
}

.small {
  font-size: 35px;
  margin-left: 80px;
  margin-top: -6px;
  cursor: pointer;
}

.good {
  font-weight: 100;
}

.code {
  font-weight: 300;
}

// Logo styling ends

.auth-form {
  padding-bottom: 10px;
  display: block;
}
